[role="main"], section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  @media screen and (max-width: 767px) {
    grid-template-rows: repeat(2, 400px);
    grid-template-columns: unset;
    grid-auto-flow: dense;
  }

  .primary-color {
    background-color: tomato;
    display: grid;

    > .heading-desktop {
      display: none;

      @media screen and (min-width: 767px) {
        display: block;
      }
    }

    > .heading-mobile {
      display: block;
      justify-self: center;
      margin-top: 40px;

      span:nth-of-type(5) {
        display: grid;
        grid-template-columns: 1fr 10px;
        align-items: end;
        > .period {
          background-color: tomato;
          height: 40px;
          width: 40px;
          border-radius: 50%;
          border-radius: 50%;
          position: relative;
          left: 10px;
          top: -5px;
        }
      }

      @media screen and (min-width: 767px) {
        display: none;
      }
    }

    > h2 {
      align-self: center;
      justify-self: end;
      text-transform: uppercase;
      display: grid;
      font-size: 160px;
      position: relative;
      left: 150px;
      line-height: 1;
      font-family: 'Titillium Web', sans-serif;
      font-weight: 900;
      letter-spacing: 2.5px;

      @media screen and (max-width: 767px) {
        left: 0;
        align-self: unset;
        justify-self: unset;
      }

      > .title {
        display: grid;
        grid-template-rows: repeat(2, 1fr);
        line-height: 130px;

        span:nth-of-type(2) {
          display: grid;
          grid-template-columns: 1fr 10px;
          align-items: end;
          > .period {
            background-color: tomato;
            height: 40px;
            width: 40px;
            border-radius: 50%;
          }
        }
      }
    }
  }

  .alternate-color {
    background-color: #f0f0f0;
  }
}

[role="main"] {
  height: 100vh;
}