#tech {
  @media (max-width: 767px) {
    grid-template-rows: 400px 1fr;
  }

  .primary-color > p {
    padding: 10px 30px;
    margin: 0;

    &:first-of-type {
      margin-top: 1em;
    }

    &:last-of-type {
      margin-bottom: 1em;
    }
  }
}