body {
  background-color: #fff;
  margin: 0;
}

#app {
  height: 100vh;

  > div > section {
    display: grid;
    grid-template-columns: 40px 1fr 40px;
    grid-template-rows: auto;
  }
}

.nav-arrow {
  grid-column: 2;
  justify-self: center;
  margin-top: 30px;
  color: black;

  > svg {
    font-size: 28px;
  }
}

.visuallyhidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.block {
  grid-column: 2;
  justify-content: center;
  margin: 80px 0;
}

.primary-color {
  background-color: tomato;
}

.alternate-color {
  background-color: #f0f0f0;
}

h1, h2, h3 {
  font-family: 'Titillium Web', sans-serif;
  font-weight: 700;
}

p {
  font-family: 'Titillium Web', sans-serif;
  font-weight: 300;
}