body {
  background-color: #fff;
  margin: 0;
}

#app {
  > div > section {
    display: grid;
    grid-template-columns: 40px 1fr 40px;
    grid-template-rows: auto;
  }
}

.visuallyhidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.block {
  grid-column: 2;
  justify-content: center;

  @media (min-width: 767px) {
    margin: 40px 0;
  }

  > .block {
    margin-top: 60px;
  }

  &.full {
    opacity: 1;
    transition: opacity 400ms ease 0ms;
  }

  &.blur {
    opacity: 0;
    transition: opacity 0ms ease 400ms;
  }

  &.footer {
    height: 140px;
  }
}

.primary-color {
  background-color: tomato;
  display: grid;

  > h3, p {
    align-self: center;
    justify-self: center;
  }

  > h3 {
    padding: 50px;
  }
}

.alternate-color {
  display: grid;
  background-color: #f0f0f0;
}

h1, h2, h3 {
  font-family: 'Titillium Web', sans-serif;
  font-weight: 700;
}

h2 {
  font-size: 24px;

  @media (min-width: 767px) {
    font-size: 40px;
  }
}

h3 {
  font-size: 30px
}

p {
  font-family: 'Titillium Web', sans-serif;
  font-size: 16px;
  font-weight: 300;
  padding: 10px 30px;
  margin: 0;

  @media screen and (min-width: 767px) {
    font-size: 20px;
  }
}

h2, p {
  align-self: center;
  justify-self: center;
}